@use "../../../sass/default" as *;

#card-overview {
    background-color: $blue;
    color: white;
    border-radius: 12px;

    .container-card {
        padding: 0.75rem;
        font-size: 14px;
    }
}

#card-window {
    background-color: $primary;
    border: 1px solid $primary-gray;
    color: black;
}

#tagname-detail {
    &.primary-gray {
        background-color: $primary-gray;
    }
}